<ion-header>
  <app-main-header actualPage="shoppingCart"></app-main-header>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title><span>Total: </span>24.60 €</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="address-card-content">
      <p><span>Dirección de envío</span></p>
      <p>Av. Santiago nº 27</p>
      <p>San Mariano del Corazón - 23076</p>
      <p>Aurora Pérez Rodriguez</p>
      <ion-button (click)="buttonClic_goProduct()" expand="block" shape="round">
        Finalizar Compra
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
