.address-card-content > p >span {
    font-weight: bold;
    font-size: 15px;
}

.divArticles{
    margin-top: 10%;

    .textHead{
        margin-left: 5%;
        font-size: 4vh;
    }

    .divArticles{
        height: 15vh;
        width: 100vw;
    }
}