<div class="filterScroll">
  <ion-card class="filter" size="3">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">Filtro 1</ion-item>
        <div class="ion-padding filterOption" slot="content">Opción 1</div>
        <div class="ion-padding filterOption" slot="content">Opción 2</div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
      
  <ion-card class="filter">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">Filtro 2</ion-item>
        <div class="ion-padding" slot="content">Opción 1</div>
        <div class="ion-padding" slot="content">Opción 2</div>
        <div class="ion-padding" slot="content">Opción 3</div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>

  <ion-card class="filter">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">Filtro 3</ion-item>
        <div class="ion-padding" slot="content">Opción 1</div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>

  <ion-card class="filter">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">Filtro 4</ion-item>
        <div class="ion-padding" slot="content">Opción 1</div>
        <div class="ion-padding" slot="content">Opción 2</div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
</div>