<ion-grid fixed class="gridStyle">

    <!-- ROW CALORIES -->
    <ion-row class="rowHead">
      <ion-col size="8"><ion-text color="primary">Información nutricional</ion-text></ion-col>
      <ion-col size="4"><ion-text>por {{nutritionalInfo.cantidad}}</ion-text></ion-col>
    </ion-row>

  <!-- ROW CALORIES -->
  <ion-row class="rowLv1">
    <ion-col size="8"><ion-text color="primary">Calorías</ion-text></ion-col>
    <ion-col size="4"> <ion-text>{{nutritionalInfo.calorias}}</ion-text></ion-col>
  </ion-row>

  <!-- ROW FATS -->  
  <ion-row class="rowLv1">
    <ion-col size="8"><ion-text color="primary">Grasas</ion-text></ion-col>
    <ion-col size="4"><ion-text>{{nutritionalInfo.grasa_total}}</ion-text></ion-col>
  </ion-row>

    <!-- ROW SATURATE FATS -->  
    <ion-row class="rowLv2">
      <ion-col size="8" ><ion-text class="ion-margin-start" color="primary">saturadas</ion-text></ion-col>
      <ion-col size="4" ><ion-text>{{nutritionalInfo.grasa_saturada}}</ion-text></ion-col>
    </ion-row>
    
    <!-- ROW MONOSATURATE FATS -->  
    <!-- <ion-row class="rowLv2">
      <ion-col size="8" ><ion-text class="ion-margin-start" color="primary">monosaturadas</ion-text></ion-col>
      <ion-col size="4" ><ion-text>0,7 g</ion-text></ion-col>
    </ion-row> -->

    <!-- ROW POLISATURATE FATS -->  
    <!-- <ion-row class="rowLv2">
      <ion-col size="8" ><ion-text class="ion-margin-start" color="primary">polisaturadas</ion-text></ion-col>
      <ion-col size="4" ><ion-text>0,4 g</ion-text></ion-col>
    </ion-row> -->
    
  <!-- ROW CARBOHYDRATES -->  
  <ion-row class="rowLv1">
    <ion-col size="8"><ion-text color="primary">Hidratos de carbono</ion-text></ion-col>
    <ion-col size="4"><ion-text>{{nutritionalInfo.carbohidratos_total}}</ion-text></ion-col>
  </ion-row>

      <!-- ROW POLISATURATE FATS -->  
      <ion-row class="rowLv2">
        <ion-col size="8" ><ion-text class="ion-margin-start" color="primary">azúcares</ion-text></ion-col>
        <ion-col size="4" ><ion-text>{{nutritionalInfo.azucar}}</ion-text></ion-col>
      </ion-row>

  <!-- ROW PROTEINES -->  
  <ion-row class="rowLv1">
    <ion-col size="8"><ion-text color="primary">Proteinas</ion-text></ion-col>
    <ion-col size="4"><ion-text>{{nutritionalInfo.proteina}}</ion-text></ion-col>
  </ion-row>

  <!-- ROW FIBRAS -->  
  <ion-row class="rowLv1">
    <ion-col size="8"><ion-text color="primary">Fibras</ion-text></ion-col>
    <ion-col size="4"><ion-text>{{nutritionalInfo.fibras}}</ion-text></ion-col>
  </ion-row>

  <!-- ROW SALT -->  
  <ion-row class="rowLv1">
    <ion-col size="8"><ion-text color="primary">Sal</ion-text></ion-col>
    <ion-col size="4"><ion-text>{{nutritionalInfo.sodio}}</ion-text></ion-col>
  </ion-row>
  
  <!-- ROW SALT --> 
  <ion-row class="rowLv1">
    <ion-col size="8"><ion-text color="primary">Colesterol</ion-text></ion-col>
    <ion-col size="4"><ion-text>{{nutritionalInfo.colesterol}}</ion-text></ion-col>
  </ion-row>


</ion-grid>


<!-- Energía685 kj8%
164 kcal
Grasa6,48g9%
Grasa Saturada1,824g9%
Grasa Monoinsaturada2,524g
Grasa Poliinsaturada1,383g
Carbohidratos0g0%
Azúcar0g0%
Fibra0g
Proteína24,82g50%
Sal0,82g14%
Colesterol70mg
Potasio204mg10%
 -->