
.imgSwipper{
/*     height: 30%;
    width: 85%;
    border-width: 1%;
    margin-left: 5%;
    margin-top: 5%; */
    border-style: solid;
    align-items: center;
}

.buttonFavorite{
    position: absolute;
    top: 0%; 
    left: 80%;
    color: red;
}