
.swipper{
    position: relative;
    align-items: center;
    height: 35%;
    width: 95%;

    .imgInSwipper{
        height: 100%;
    }
    
    .buttonFavorite{
        position: absolute;
        top: 0%; 
        left: 90%;
        color: red;
    }

}



.gridStyle{
    
    .rowNameAndBuy{
        justify-content: space-between;
        font-size: xx-large;
        font-weight: 900;
    }
    .rowPrice{
        font-size: x-large;
        font-weight: 500;      
    }
    .rowBusiness{
        text-decoration: underline;
        text-decoration-color: var(--ion-color-primary);
    }
    .rowDescription{
        font-size: medium;
        font-weight: 300;    
        text-align: justify;
    }
    
}
    

ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ion-grid {
    height: 100%;
    display: flex;
    flex-flow: column;
}

ion-row {
    flex-grow: 1;
}
