<ion-card class="cardInCatalog">
  
  <ion-img  src='{{imageURL}}{{product.file}}' (click)="emitEvent_goProduct()"></ion-img>  
  <ion-icon *ngIf="this.favorite" class="buttonFavorite" (click)="buttonClic_favorite()"  name="heart-sharp" size="large" ></ion-icon>
  <ion-icon *ngIf="!this.favorite" class="buttonFavorite" (click)="buttonClic_favorite()" name="heart-outline" size="large" ></ion-icon>
  
  <ion-grid fixed>
    <ion-row>
      <ion-title class="ion-text-center ion-text-blond" (click)="emitEvent_goProduct()"><b>{{product.name}}</b></ion-title>
    </ion-row>

    <ion-row>
      <ion-title class="ion-text-center ion-text-blond">{{product.price}}{{product.coin}}{{product.unit}}</ion-title>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
        <app-buy-button [product] = "product"></app-buy-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-card>