.cardInCatalog{
    position: relative;
    float: left;
    height: 30%;
    width: 43%;
}

.imgInCatalog{
    height: 55%;
    width: 100%;
}

.buttonFavorite{
    position: absolute;
    top: 0%; 
    left: 80%;
    color: red;
}