<ion-card class="cardInCatalog">
  
  <ion-img  src='../../../assets/testManzana.jpg' (click)="emitEvent_goProduct()"></ion-img>  
  <ion-icon *ngIf="this.favorite==true" class="buttonFavorite" (click)="buttonClic_favorite()"  name="heart-sharp" size="large" ></ion-icon>
  <ion-icon *ngIf="this.favorite==false" class="buttonFavorite" (click)="buttonClic_favorite()" name="heart-outline" size="large" ></ion-icon>
  
  <ion-grid fixed>
    <ion-row>
      <ion-title class="ion-text-center ion-text-blond" (click)="emitEvent_goProduct()"><b>Manzana</b></ion-title>
    </ion-row>

    <ion-row>
      <ion-title class="ion-text-center ion-text-blond">1,20€/Kg</ion-title>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="buttonClic_buyProduct()" expand="block" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-card>