.cardInCatalog{
    position: relative;
    float: left;
    height: 30%;
    width: 43%;

    border-color: var(--ion-color-primary);
    border-width: 1px;
    border-style: solid;
}

.imgInCatalog{
    height: 55%;
    width: 100%;
}

.buttonFavorite{
    font-size: 30px;
    position: absolute;
    top: 5%; 
    right: 5%;
    color: red;
}