.buttonStyle_loginPage{
    width: 90%;
    font-weight: 900;

    margin: auto;
    margin-top: 0rem;
    margin-bottom: 1rem;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.buttonStyle_newTimetable{
    width: 100%;
    font-weight: 900;
    border-radius:1rem;

    margin: auto;
    margin-top: 0rem;
    margin-bottom: 1rem;
    margin-left: 0 auto;
    margin-right: 0 auto;
}