.labelStyle_principalTitle{
    font-size: 3rem;
    text-align: center;
    
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 5rem;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.labelStyle_secondaryTitle{
    font-size: 2rem;
    text-align: center;
    
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 2rem;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.labelStyle_thirtyTitle{
    font-size: 1.5rem;
    text-align: center;
    
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 0 auto;
    margin-right: 0 auto;
}