<ion-header>
</ion-header>

<ion-content>

      
  <div class="labelStyle_principalTitle">
    <ion-label>LA CESTA VERDE</ion-label>
  </div>

  <form autocomplete="off" [formGroup]="formLogin" (ngSubmit)="login()">
    <ion-input class="inputStile_loginPage" type="email" formControlName="email" placeholder="Email"></ion-input>

    <ion-input class="inputStile_loginPage"  type="password" formControlName="password" placeholder="Password"></ion-input>
    
    <ion-button class="buttonStile_loginPage"  type="submit" expand="block" [disabled]="formLogin.invalid">Acceder</ion-button>
  </form>


  <div class="ion-margin">
      <ion-label>¿No tienes cuenta? </ion-label>
      <a href="#" routerLink="/access/createAccount">Crear una aquí</a>
  </div>

</ion-content>
