<ion-header>
    <app-main-header actualPage="catalog"></app-main-header>
    <app-filter-list></app-filter-list>
</ion-header>

<ion-content>

  <div class="ion-align-items-center">
    <div *ngFor="let product of products; let index">
      <app-product-card (event_routerToProduct)="goProduct(product._id!)" [product]=product></app-product-card>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingText="Loading..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll> 

</ion-content>
