<ion-header>
  <app-main-header actualPage="business"></app-main-header>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Business image" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header class="business-title">
      <ion-card-title>Frutas Rodri</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="business-description">
        <ion-text>
          La tienda de barrio de toda la vida. Ven y compra frutas, verduras y hortalizas a precios que no se veian desde antes de la pandemia. Recuerda que puedas realizar la reserva de tus articulos favoritos.
        </ion-text>
      <ion-text class="business-address">
        <p><span> Calle de Santa Gloria, nº 34 - A Coruña </span> </p>
      </ion-text>
    </ion-card-content>
    <ion-img src="https://ionic-docs-demo-v6.vercel.app/assets/madison.jpg" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
  </ion-card>

  <!-- <ion-button (click)="buttonClic_goProduct()" expand="block" shape="round">
    go Product
  </ion-button> -->

</ion-content>
 