/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

.business-title {
    justify-content: center;
    align-items: center;
    display: flex;
}

.business-description {
    text-align: justify;
}

.business-address > p > span, .business-title {
    font-weight: bold;
    font-size: 15px;
}