.profile-avatar {
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.profile-header {
    justify-content: center;
    align-items: center;
    display: flex;
}
.perfil-label {
    font-weight: bold;
}


