.profile-avatar {
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.profile-header {
    justify-content: center;
    align-items: center;
    display: flex;
}
.perfil-label {
    font-weight: bold;
}


.divBusiness{
    margin-top: 10%;

    .textHead{
        margin-left: 5%;
        font-size: 4vh;
    }

    .cardBusiness{
        height: 15vh;
        width: 100vw;
    }
}

ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ion-grid {
    height: 100%;
    display: flex;
    flex-flow: column;
}

ion-row {
    flex-grow: 1;
}

img {
    border-radius: 50%;
}