<ion-card class="cardCestProduct" *ngFor="let product of products">
  
  <ion-grid fixed>

    <ion-row class="rowTrashAndName">
      <ion-col class="colIconTrash" size="5">
        <ion-icon class="iconTrash" (click)="buttonClick_deleteProduct(product._id!)"  name="trash-bin-outline" size="large" ></ion-icon>
      </ion-col>
      
      <ion-col class="colName" size="7">
        <ion-text (click)="emitEvent_goProduct(product._id!)">{{product.name}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="rowImgAndText">
      <ion-col class="colImg" size="5">
        <img *ngIf="product.file" class="imgInSwipper" src='{{imageURL}}{{product.file}}' (click)="emitEvent_goProduct(product._id!)">
      </ion-col>

      <ion-col size="7" class="colText">
        <div><ion-text>{{product.price}} {{product.coin}} {{product.unit}}<br></ion-text></div>
        <div><app-buy-button [cuantity]="product.quantity!" ></app-buy-button></div>
        <div class="colTextTotal">
          <ion-text >Total: {{this.totalPrice(product.price!, product.quantity!)}} €<br></ion-text>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-card>