<div class="divStyle_headFrame">
  <ion-toolbar>
    
    <ion-grid>


    <ion-row *ngIf="actualPage=='catalog'" class="ion-align-items-center">

      <ion-col>
        <ion-title class="ion-text-center" color="primary" (click)="buttonClic_goCatalog()">La cesta <br> verde</ion-title>
        <!-- <img src="../../../../../assets/img/CestaVerde_1.png" (click)="buttonClic_goCatalog()"> -->
      </ion-col>

      <!-- <ion-col size="auto">
        <ion-searchbar>
          
        </ion-searchbar>
      </ion-col> -->
      
      <ion-col size="auto">
        <ion-button *ngIf="actualPage=='catalog'" (click)="buttonClic_goProfile()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        
        <ion-button *ngIf="actualPage!='profile'" (click)="buttonClic_goProfile()">
          <ion-icon slot="icon-only" name="person-outline"></ion-icon>
        </ion-button>
        
        <ion-button *ngIf="actualPage!='shoppingCart'" (click)="buttonClic_goShoppingCart()">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
      </ion-col>  
    </ion-row>


    <ion-row *ngIf="actualPage!='catalog'">
      <ion-col size="auto">
        <ion-back-button icon="chevron-back-outline" color="primary"></ion-back-button>
      </ion-col>

      <ion-col>
        <ion-title class="ion-text-center" color="primary" (click)="buttonClic_goCatalog()">La cesta <br> verde</ion-title>
        <!-- <img src="../../../../../assets/img/CestaVerde_1.png" (click)="buttonClic_goCatalog()"> -->
      </ion-col>
      
      <ion-col size="auto">        
        <ion-button *ngIf="actualPage!='profile'" (click)="buttonClic_goProfile()">
          <ion-icon slot="icon-only" name="person-outline"></ion-icon>
        </ion-button>

        <ion-button *ngIf="actualPage!='shoppingCart'" (click)="buttonClic_goShoppingCart()">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
      </ion-col>  
    </ion-row>


  </ion-grid>
  </ion-toolbar>
</div>

