<div class="divStyle_headFrame">
  <ion-toolbar>
    

    <ion-row *ngIf="actualPage=='catalog'">

      <ion-col size="5">
        <ion-title class="ion-text-center" color="primary" (click)="buttonClic_goCatalog()">La cesta <br> verde</ion-title>
      </ion-col>
      
      <ion-col size="7">
        <ion-button *ngIf="actualPage=='catalog'" (click)="buttonClic_goProfile()" size="small">
          <ion-icon slot="icon-only" name="search-circle-outline"></ion-icon>
        </ion-button>
        
        <ion-button *ngIf="actualPage!='profile'" (click)="buttonClic_goProfile()" size="small">
          <ion-icon slot="icon-only" name="person-outline"></ion-icon>
        </ion-button>
        
        <ion-button *ngIf="actualPage!='shoppingCart'" (click)="buttonClic_goShoppingCart()" size="small">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
      </ion-col>  
    </ion-row>


    <ion-row *ngIf="actualPage!='catalog'">
      <ion-col size="1">
        <ion-back-button icon="chevron-back-outline" color="primary"></ion-back-button>
      </ion-col>

      <ion-col size="9" >
        <ion-title class="ion-text-center" color="primary" (click)="buttonClic_goCatalog()">La cesta <br> verde</ion-title>
      </ion-col>
      
      <ion-col size="2">        
        <ion-button *ngIf="actualPage!='profile'" (click)="buttonClic_goProfile()" size="small">
          <ion-icon slot="icon-only" name="person-outline"></ion-icon>
        </ion-button>

        <ion-button *ngIf="actualPage!='shoppingCart'" (click)="buttonClic_goShoppingCart()" size="small">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
      </ion-col>  
    </ion-row>


  </ion-toolbar>
</div>

